body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
  background-color: rgb(10, 29, 71);
  min-height: 100vh;
}

/* LOADER */

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

.loader.visible {
  display: flex;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

/* HEADER AND NAV */

header {
  padding: 30px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

header nav ul li a {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  padding: 10px 20px;
}

header nav ul li a::before,
header nav ul li a::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: 0.3s;
}

header nav ul li a::after {
  top: 0;
  left: 0;
  height: 0;
  width: 2px;
  background-color: #fff;
  transition: 0.3s;
}

header nav ul li a:hover::before {
  width: 100%;
}

header nav ul li a:hover::after {
  height: 100%;
}

/* LOGIN */

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 100px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
  box-shadow: 10px 10px 0px 0px rgb(255, 255, 255);
}

.form label {
  width: 80%;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.form input {
  width: 80%;
  padding: 10px 20px;
}

.form .error {
  display: none;
  color: rgb(158, 3, 3);
  text-transform: lowercase;
  padding: 10px 0;
}

.form .error.visible {
  display: block;
}

.form button {
  display: block;
  background-color: #fff;
  text-transform: uppercase;
  border: none;
  margin: 60px 0 20px;
  padding: 20px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(10, 29, 71);
  color: white;
  font-weight: bold;
  border: 2px solid white;
  box-shadow: 6px 6px 0px 0px rgb(255, 255, 255);
}

.form button:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 0px 2px rgb(255, 255, 255);
}

/* SEARCH */

.search-form {
  position: static;
  width: 70%;
  padding: 0px 50px;
  top: 25vh;
  flex-direction: row;
  transform: translate(0);
  margin: 50px auto;
}

.search-form button {
  width: 40%;
  margin: 40px 20px;
}

.character-list {
  position: relative;
  margin: 0;
  list-style: none;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 50px;
}

.no-results {
  top: -80px;
  position: absolute;
  display: none;
  font-weight: bold;
  color: rgb(158, 3, 3);
}

.character-list .no-results.visible {
  display: block;
}

.character-list li {
  position: relative;
}

.character-list img {
  border: 2px solid #fff;
  box-shadow: 6px 6px 0px 0px rgb(255, 255, 255);
  max-height: 250px;
  padding: 20px;
  margin: 50px;
}

.character-list button {
  position: absolute;
  right: 40px;
  top: 50px;
  background-color: transparent;
  border: none;
  transform: scale(4);
  transition: 0.3s;
  cursor: pointer;
}

.character-list button:hover {
  transform: scale(5);
}
